.block {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #625d5a;
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 4%;
    margin-bottom: 4%;

}

html {
    background-color: #ada098;
    
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-left: 15px;
}



form {
    text-align: center;
    zoom: 2.5;
    font-family: Georgia, Helvetica, sans-serif;
    color: #1d1916;
}

.roundedImage {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-top: 2%;
}



@media screen and (max-width: 640px) {
    .zoneDuBas {
        display: none;
    }
}


button {
    position: center;
    margin-top: 2%;

    padding: 5px;

    font: bold .6em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;

    cursor: pointer;

    transform: rotate(-1.5deg);
}

.acceuil {
    font-family: 'Roboto', sans-serif;
    size: 100%;
}